.banner {
  background-image: url(../images/banner.png);
  height: 520px;
  background-size: cover;
  background-position: center;
}
.banner-content {

  height: 520px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
